body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#1C263E;
    color: #17EAD9;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3d5488 ;
     border: 2px solid #ddd;
     gap: 40px;
    width: 80%;       
    margin: 20px auto; 
    padding: 15px 20px;
    }
    nav img, a{
    color: #17EAD9;
    
    text-decoration: none;
    font-size: 1.25em;
}
#gameContainer{
    margin: 5% 25% ;
    text-align: center;

}
#jamTitle{
    text-align: center;

}
h1{
    font-size: 2.5em;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr ;
    align-items: center;
    place-items: center;
    gap: 40px;
}
h2{
    font-size: 2em;
    text-align: center;
}
.jamButtons{
display: inline-block;
    margin-top: 20px;
    padding: 12px 35px;
    background-color: black;
    color: #17EAD9;
    text-decoration: none;
    border-radius: 6px;
    font-size: 1rem;

}

.jamButtons:hover {
    background-color: #555;
}
#globImg{
    height: 95%;
}
footer {
    text-align: center;
    padding: 3%;
    margin-top: 50px;
    background-color:#3d5488; 
    border: 2px solid #ddd;
    
}
img{
    border: 3px solid black;
}
